dist: xenial
language: python
python:
  - 3.7
sudo: true
install:
  - pip install PrettyTable
script:
  - python -m unittest test.test_us01.py
  - python -m unittest test.test_us02.py
  - python -m unittest test.test_us03.py
